* {
  padding: 0;
  margin: 0;
}
/* 标签导航 */
.el-tabs__nav-wrap {
  padding: 10px 20px 15px 20px;
  background-color: #545c64;
}
.el-tabs__active-bar {
  background-color: #ffd04b;
}
.el-tabs__item.is-active {
  color: #ffd04b;
}
.el-tabs__item {
  color: #eee;
  font-size: 16px;
}
.el-tabs__item:hover {
  color: #ffd04b;
}

.content {
  padding: 0 30px;
}
/* 添加单词表单 */
.wordForm {
  width: 60%;
}
.jsonCard {
  margin-top: 30px;
  width: 80%;
}
.jsonCard .info {
  margin-top: 20px;
}
/* 学习单词 */
.wordCard {
  font-size: 22px;
  padding: 10px;
}
.wordCard .item {
  padding: 8px 10px;
  height: 28px;
}
/* 单行 */
.wordCard .item:nth-child(even) {
  color: #1e1f1c;
}
.wordCard .item:nth-child(odd) {
  color: #545c64;
  background-color: #eee;
}
.wordCard .mean {
  float: right;
}
.testCart {
  width: 100%;
  padding: 10px;
}
.testCart .testItem {
  text-align: center;
  margin: 20px auto;
  font-size: 46px;
}
.testCart .remind {
  text-align: center;
  margin: 60px auto 20px auto;
  font-size: 18px;
  background-color: #eee;
  padding: 10px 0;
}
.testCart .nextBtn {
  float: right;
  margin: 10px 0;
}
